*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
*{
	background-color: #000000;
	font-size: 17px;
	font-family: "Courier New", Courier, monospace;
	
}
details summary{
	list-style: none;
}
.center{
	margin: auto;
}
.textstyle{
	color: rgb(206, 206, 206);
}
.codestyle{
	color: rgb(93, 148, 219);
}
strong{
	color: #b4b4b4;
}
.h1style{
	color: Orange;
	text-align: center;
	font-size: 30px;
}
.light_green{
	color:#94e092;
}
.orange{
	color: #b97652;
}
.white{
	color: grey;
}
.blu{
	font-size: 16px;
	color:rgb(157, 199, 238);
}
.h1{
	font-size: 2em;
}
.h2{
	font-size: 1.5em;
}
.h3{
	font-size: 1.17em;
}
.h4{
	font-size: 1em;
}
.h5{
	font-size: .84em;
}
.h6{
	font-size: .64em;
}
.space1{
	margin-left: 4ch;
}
.space2{
	margin-left: 8ch;
}
.space3{
	margin-left: 13ch;
}
.space4{
	margin-left: 17ch;
}
.green{
	color:green;
}
.img-style{
	width: 20px;
	height: 19px;
}
.dblock{
	width: 95%;
	margin: auto;
}
.block-style{
	position: absolute; 
	right: 0; 
	top: 0; 
	width: 30%;
	height: 100%;
}
.br-ts{
	border: 1px solid #000;
	cursor: pointer;
}
.br-ts:hover{
	border:rgb(206, 206, 206);
}
.yelow{
	color: rgb(214, 214, 55);
}
.wordSpace{
	white-space: pre-line;
}
details[open] {
	animation: slide .2s ease-in-out;
}
.button_swap{
	color: rgb(255, 208, 0);
	background-color: #313131;
	padding: 3px;
	border: 1px solid gray;
	margin-bottom: 1px;
}
.button_swap:hover{
	background-color: #000000;
}
.line_button{
	display: flex;
	margin-left: 50px;
}
.pxgreen{
	color:#94e092;
}
.outline_details{
	outline: 2px solid gray;
	outline: 2px transparent;
	border-radius: 2px;
}
.outline_details:hover{
	outline: 2px solid gray;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
summary{
	display:inline-block;
}
.border_text{
	outline: 2px solid rgb(108, 112, 122);
	display: inline;
	border-radius: 4px;
}
.html_logo::after{
	content: "<>";
	color: orange;
}
.css_logo::after{
	content: "#";
	color: rgb(33, 185, 231);	
}
.text_back{
	padding: 0.025em 0.35em;
    border-radius: 2em;
    background-color: rgb(109, 109, 109); 
	position: relative;
}
@keyframes slide {
	0%    { opacity: 0; transform:  translate(0, -10px); }
	100%  { opacity: 1; transform:  translate(0, 0); }
}

